Calculate the yearly average temperature for each of the lakes, and the yearly average for all six lakes put together.
Indicate which lake is the coldest and which one is the warmest, based on the average yearly temperatures calculated in step #1. Also indicate which lakes have average temperatures above the average of all the lakes and which ones are below that same average.
Indicate the day and the temperature for the warmest water temperatures for each of the lakes. Do the same for the coldest temperatures. You must convert the day of the year value into a date/month format (you might want to create a function for that).  In the case of a tie, mention all the dates.
Find the overall warmest water temperature (all lakes combined). Print out which lake it was, what day it was and what was the temperature. You must convert the day of the year value into a date/month format. Do the same for the coldest overall temperature.  In the case of a tie, mention all the dates.
Calculate the summer average (day 172 to day 265) for all 6 lakes (one average per lake).  Display the names of the lakes in order from warmest to coldest.  Is the order from warmest to coldest the same as with the yearly average calculated in step #2?
Calculate the winter average (days 1 to 79 and days 355 to 365) for all 6 lakes (one average per lake).  Display the names of the lakes in order from warmest to coldest.  Is the order from warmest to coldest the same as with the yearly average calculated in step #2?
Assuming that you can swim comfortably in the lake if the temperature is above 20 degrees. Calculate the number of days in the year you can swim for each of the 6 lakes.
 Assuming that lakes freeze when the water falls below 0 degrees.  Calculate the number of days in the year that the lake is frozen.
Re-do question 1 (the 7 yearly averages) but with data from 2019 instead. Make a table of the averages side by side to illustrate the two yearly results. Any notable changes between 2019 and 2020? Can you advance a conclusion why there is a difference (or not)? The data file for 2019 is here (365 days in 2019): 
https://coastwatch.glerl.noaa.gov/ftp/glsea/avgtemps/2019/glsea-temps2019_1024.dat